body {
	background: #e8e8e8;
	min-height: 100%;	
	font-family: 'Signika Negative', sans-serif;
	font-size: 16px;
}

#contenedor {
	width: 80%;
	background-color: white;
	margin: 0px auto;
}

#menu {
	width: 15.2%;
	margin-right: 0.8%;
	float: left;
	background-color: #212121;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 50px;
	position: fixed;
	border: 1px solid #bcbcbc;
}

#menu ul {
	padding: 0px;
	margin: 0px;
}

#contenido {
	width: 80%;
	float: right;
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	text-align: justify;
	color: black;
	line-height: 22px;
	border: 1px solid #bcbcbc;
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}

ul li:hover {
	background-color: #00796B;
	transition: background-color 0.7s;
}

li p {
	margin-left: 15%;
	margin-bottom: 0;
	margin-top: 0;
}

.imagen {
	height: 150px;
	width: 100%;
	background-image: url("../imagenes/penpen.png");
	background-size: cover;
}

.funciones {
	height: 26px;
	width: 50px;
}

button {
	height: 26px;
	width: 30px;
	border: 1px solid #BDBDBD;
	cursor: pointer;
}

button:hover {
	background-color: #00796B;
	color: white;
	border: 1px solid #00796B;
}

.subtitulo {
	font-weight: 100;
	color: #d8d8d8;
}

#toggle-css {
	position: fixed;
	margin-top: 576px;
	margin-left: 297.47px;
}

#changelog {
	height: 40px;
	width: 40px;
	background-color: #212121;
	border: 1px solid #bcbcbc;
}

#changelog:hover {
	background-color: #00796B;
}

#changelog span {
	color: white;
	font-size: 25px;
}

#pepe_frog {
	background-image: url("../imagenes/pepe2.png");
	background-size: cover;
	position: fixed;
	z-index: 100;
	width: 100px;
	height: 100px;
	top: 85%;
	left: 89.5%;
}

#mensajes {
	top: 86%;
	left: 51.7%;
	position: fixed;
	visibility: hidden;
	background-color: white;
	border: 1px solid #bcbcbc;
	text-align: center;
	width: 500px;
	height: 80px;
	padding-top: 28px;
}

ol {
	list-style-type: none;
	padding: 0;
}

#changelog-panel button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 95px;
	display: block;
	width: 100px;
	height: 30px;
	font-weight: bold;
}